@define-color dark-soft rgba(50, 48, 47, 0.7);
@define-color dark rgba(60, 56, 54, 0.9);
@define-color faded-yellow rgba(181, 118, 20, 0.4);
@define-color bright-yellow #fabd2f;
@define-color text-color #ebdbb2;
@define-color green rgba(184, 187, 38, 1);
@define-color green-soft rgba(184, 187, 38, 0.65);
@define-color red #fb4934;
@define-color blue rgba(69, 133, 136, 1);

@define-color bg #282828;
@define-color gray #928374;
@define-color bg0_h #1d2021;
@define-color bg0_s #32302f;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color gray0 #928374;

* {
  background-image: none;
  box-shadow: none;
}

window {
  /*background-color: rgba(12, 12, 12, 0.9);*/
  background-color: @dark-soft;
}

button {
  border-radius: 16px;
  margin: 8px;
  border-color: @dark;
  text-decoration-color: #ffffff;
  color: @text-color;
  background-color: @dark;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: @blue;
  outline-style: none;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
