@define-color dark-soft rgba(50, 48, 47, 0.7);
@define-color dark rgba(60, 56, 54, 0.9);
@define-color faded-yellow rgba(181, 118, 20, 0.4);
@define-color bright-yellow #fabd2f;
@define-color text-color #ebdbb2;
@define-color green rgba(184, 187, 38, 1);
@define-color green-soft rgba(184, 187, 38, 0.65);
@define-color red #fb4934;
@define-color blue rgba(69, 133, 136, 1);

@define-color bg #282828;
@define-color gray #928374;
@define-color bg0_h #1d2021;
@define-color bg0_s #32302f;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color gray0 #928374;

* {
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-image: linear-gradient(
    to bottom,
    transparent 48%,
    @bright-yellow 33%,
    transparent 55%
  );

  background-color: transparent;
  background-color: @bg_h;
}

#waybar.empty #window {
  background: none;
}

#window {
  color: @text-color;
  background-color: @bg0_s;
  font-weight: bold;
  padding: 0 12px;
  margin: 4px 8px 4px 12px;
  border-radius: 16px;
}

#workspaces {
  border-radius: 16px;
  padding: 0 0px;
  margin: 2px 0px 2px 4px;
  background-color: transparent;
}

#workspaces button {
  color: @text-color;
  padding: 0px 4px 0px 4px;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100%;
  background-color: @bg0_s;
  margin: 2px 4px 2px 2px;
}

#workspaces button:hover {
  background-color: @bg2;
  color: @text-color;
}

#workspaces button.active,
#workspaces button.focused {
  color: @green;
}

#clock,
#cpu,
#memory,
#temperature,
#tray,
#pulseaudio,
#pulseaudio-slider {
  padding: 0 12px;
  margin: 4px 8px 4px 0px;
  border-radius: 16px;
  background-color: @bg0_s;
  font-weight: bold;
  color: @text-color;
}

#tray {
  font-size: 8px;
}

tooltip {
  background-color: @dark-soft;
  font-size: 18;
  font-family: "FiraCode Nerd Font";
}

#custom-wlsunset,
#network,
#custom-power {
  background-color: @dark-soft;
  color: @text-color;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 16px;
}

#custom-wlsunset:hover,
#network:hover,
#custom-power:hover {
  /*color: @bright-yellow;*/
}

#custom-power {
  padding-left: 7px;
  padding-right: 11px;
  border-radius: 16px;
  margin-right: 8px;
}

#custom-wlsunset {
  padding-left: 8px;
  padding-right: 9px;
  border-radius: 16px;
  margin-right: 8px;
  font-size: 18px;
}

#network {
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 8px;
  font-weight: bold;
}

#network.wifi {
  /*padding-top: 2px;*/
  /*font-size: 14px;*/
  /*color: @text-color;*/
}

#network.ethernet {
  font-size: 18px;
}

#network.disconnected {
  border-radius: 16px;
  padding: 4px 12px;
}

#cpu {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  padding-left: 8px;
  padding-right: 16px;
}

#temperature {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

#memory {
  padding-right: 8px;
}

#pulseaudio {
  padding: 0 12px;
  margin: 4px -12px 4px 0px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

#pulseaudio-slider {
  padding: 0px 12px 0px 4px;
  margin: 4px 8px 4px 0px;
  border-radius: 0px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  /* background-color: @red; */
  padding-right: 12px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background-color: @blue;
}

#pulseaudio-slider trough {
  min-height: 4px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @bg2;
  border: none;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  margin: 1px;
  border-radius: 5px;
  background-color: @text-color;
  border: none;
}
